/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	background: #B1D0FE;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	overflow: hidden;
	animation: night ease-in-out 7s infinite alternate;
}

.ship {
	margin: 50px auto 0 auto;
	height: 500px;
	width: 700px;
	position: relative;
	z-index: 5;
	animation: ship 1s infinite alternate;
}
.bottom__boat {
	position: relative;
	top: 83%;
	left: 7%;
	width: 600px;
	height: 0;
	border-top: 90px solid #261D14;
	border-left: 65px solid transparent;
	border-right: 65px solid transparent;
}
.bottom__boat:before {
	position: absolute;
	content: '';
	top: -168px;
	right:-66px;
	width: 100px;
	height: 121px;
	background: #261D14;
	transform: rotate(36deg);
}
.bottom__boat:after {
	position: absolute;
	content: '';
	top: -190px;
	left: -65px;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 50px solid transparent;
	border-right: 50px solid #261D14;
	border-bottom: 50px solid #261D14;
}
.window__1 {
	position: absolute;
	top: -60px;
	left: 40px;
	width: 40px;
	height: 40px;
	background: #3d9bc7;
	border-radius: 40px;
	border: 3px solid #5D2B00;
}
.window__2 {
	left: 120px;
}
.window__3 {
	left: 200px;
}
.window__4 {
	left: 280px;
}
.window__5 {
	left: 360px;
}
.ocean {
	position: relative;
	z-index: 10;
	background: #5f9ea0;
	width: 100vw;
	height: 100vh;
}
.mast {
	position: relative;
	top: -94px;
	right: -325px;
	width: 15px;
	height: 420px;
	background: #5D2B00;
}
.mast:before {
	content: '';
	position: absolute;
	top: 0;
	left: -230px;
	height: 378px;
	width: 485px;
	border-left: 125px solid #000;
	border-right: 150px solid transparent;
	border-radius: 50%;
}
.mast:after {
	content: '';
	position: absolute;
	top: 79px;
	left: -167px;
	width: 280px;
	height: 280px;
	transform: rotate(-45deg);
	background: radial-gradient(circle at 0% 0%, transparent 0%, transparent 72%, #000 72%, #000 72%);
}
.flag {
	position: absolute;
	top: 0;
	left: 15px;
	border-right: 25px solid transparent;
	border-top: 25px solid red;
	border-bottom: 25px solid red;
	border-left: 60px solid red;
	transform-origin: top left;
	animation: flag 500ms infinite alternate;
}
.sky {
	position: absolute;
	top: 70px;
	right: 1000px;
	background: #ebebeb;
	width: 120px;
	height: 50px;
	border-top-right-radius: 70px;
	border-top-left-radius: 70px;
	animation: sky 8s infinite;
}
.sky:before, .sky:after {
	content: '';
	position: absolute;
	background: #ebebeb;
	width: 60px;
	height: 30px;
	top: 20px;
	right: -55px;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
}
.sky:after {
	right: 115px;
}


@keyframes flag {
	from {
		transform: scaleX(0.8);
	}
	to {
		transform: scaleX(1);
	}
}

@keyframes ship {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(4px);
	}
}

@keyframes sky {
	from{
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to{
		right: 100px;
		opacity: 0;
	}
}

@keyframes night {
	from {
		background: #B1D0FE;
	}
	to {
		background: #142129;
	}
}

.sun_moon {
	position: absolute;
	top: 35px;
	left: 45px;
	width: 80px;
	height: 80px;
	background: yellow;
	border-radius: 50%;
	animation: sun ease-in-out 7s infinite alternate;
}

@keyframes sun {
	from{
		opacity: 1;
		box-shadow: 0px 0px 5px #fff;
	}
	to {
		opacity: 0;
		top: 435px;
		left: 435px;
	}
}